<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Amberlit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/panel">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subcategory">Subcategories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      </ul>
  </div>
</nav>
<div class="sub-data">
  <div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12">
      <div class="form-section">
        <div class="container">
      <div class="card">
        <div class="card-header">
          <h4>Subcategory</h4>
        </div>
        <div class="card-body">
        <form [formGroup]="subcategoryForm">
          <div class="form-group">
            <input type="text" class="form-control" name="name" #name formControlName="name" placeholder="Name">
          </div>
          <div class="form-group">
            <select class="form-control" name="category" #category >
              <option value="0">-Select-</option>
              <option  *ngFor="let data of categories?.result" value="{{data.id}}">{{data.Name}}</option>
            </select>
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-primary" name="button" (click)="createSubcategory(name.value,category.value)"><i class="fas fa-database"></i> &nbsp; Save</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    </div>
      </div>
  <div class="col-md-8 col-xs-12 col-sm-12">
  <div class="container">
    <h3>Subcategories</h3>
    <div class="search-bar">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search subcategory">
      </div>
    <table class="table">
      <thead>
        <th scope="col">Sr.No</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </thead>
      <tbody *ngFor="let data of subcategories?.result|filter:searchText;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.id}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.Category}}</td>
        <td><button type="button" class="btn btn-primary" name="button" (click)="editSubCategory(data.id)"><i class="fas fa-pencil-alt"></i></button>&nbsp;<button type="button" class="btn btn-danger" name="button" (click)="subcategoryDelete(data.id)"><i class="fas fa-times "></i></button></td>
      </tbody>

    </table>
  </div>
  </div>
  </div>
</div>
