<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Amberlit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/panel">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subcategory">Subcategories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/location">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      </ul>
  </div>
</nav>
<div class="container-fluid">


<div class="user-data">

    <h3>Users</h3>
    <div class="search-bar">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search user">
      </div>
    <table class="table">
      <thead>
        <th scope="col">Sr.No</th>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Location</th>
        <th scope="col">Picture</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </thead>
      <tbody *ngFor="let data of users?.result|filter:searchText;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.id}}</td>
        <td>{{data.Email}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.Phone}}</td>
        <td>{{data.Location}}</td>
        <td><img [src]="data.Picture" alt="null"></td>
        <td>{{data.Status}}</td>
        <td><button type="button" class="btn btn-primary" name="button" (click)="editUsers(data.id)"><i class="fas fa-pencil-alt"></i></button></td>
      </tbody>
    </table>

</div>
</div>
