h3
{
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.user-data img
{
  height: 15vh;
  width: 10vh;
}
.nav-item
{
  cursor: pointer;
}
.search-bar
{
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}
