<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Amberlit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/panel">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Logout()">Logout</a>
      </li>
      </ul>
  </div>
</nav>
<div class="main-body">
  <div class="container">
      <h3>Ads</h3>
    <table class="table">
      <thead>
        <th scope="col">Sr.No.</th>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Picture</th>
        <th scope="col">Category</th>
        <th scope="col">Subcategory</th>
        <th scope="col">Posted by</th>
        <th scope="col">Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of ads?.result;let i=index ">
            <th scope="row">{{i+1}}</th>
            <td>{{data.id}}</td>
            <td>{{data.Date}}</td>
            <td>{{data.Title}}</td>
            <td>{{data.Content}}</td>
            <td>{{data.Content}}</td>
            <td>{{data.Subcategory}}</td>
            <td>{{data.Userid}}</td>
            <td>{{data.Status}}</td>
            <h4 *ngIf="message">{{message}}</h4>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="cat-data">
  <div class="container">
    <h3>Categories</h3>
    <table class="table">
      <thead>
        <th scope="col">Sr.No.</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </thead>
       <tbody>
         <tr *ngFor="let data of categories?.result;let i=index">
           <th scope="row">{{i+1}}</th>
           <td>{{data.id}}</td>
           <td>{{data.Name}}</td>
         </tr>
       </tbody>
    </table>
  </div>
</div>
<div class="sub-data">
  <div class="container">
    <h3>Subcategories</h3>
    <table class="table">
      <thead>
        <th scope="col">Sr.No</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </thead>
      <tbody *ngFor="let data of subcategories?.result;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.id}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.Category}}</td>
      </tbody>
    </table>
  </div>
</div>
<div class="user-data">
  <div class="container">
    <h3>Users</h3>
    <table class="table">
      <thead>
        <th scope="col">Sr.No</th>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Location</th>
        <th scope="col">Picture</th>
        <th scope="col">Status</th>
      </thead>
      <tbody *ngFor="let data of users?.result;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.id}}</td>
        <td>{{data.Email}}</td>
        <td>{{data.Name}}</td>
        <td>{{data.Phone}}</td>
        <td>{{data.Location}}</td>
        <td>{{data.Picture}}</td>
        <td>{{data.Status}}</td>
      </tbody>
    </table>
  </div>
</div>
