<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Amberlit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/panel">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subcategory">Subcategories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Logout()">Logout</a>
      </li>
      </ul>
  </div>
</nav>
<div class="main-body">

  <div class="container">
      <h3>Ads</h3>
    <table class="table">
      <thead>
        <th scope="col">Sr.No.</th>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Picture</th>
        <th scope="col">Category</th>
        <th scope="col">Subcategory</th>
        <th scope="col">Posted by</th>
        <th scope="col">Status</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of ads?.result;let i=index ">
            <th scope="row">{{i+1}}</th>
            <td>{{data.id}}</td>
            <td>{{data.Date}}</td>
            <td>{{data.Title}}</td>
            <td>{{data.Content}}</td>
            <td>{{data.Content}}</td>
            <td>{{data.Subcategory}}</td>
            <td>{{data.Userid}}</td>
            <td>{{data.Status}}</td>
            <td><button type="button" class="btn btn-primary" name="button" (click)="editAd(data.id)"><i class="fas fa-pencil-alt"></i></button></td>
        </tr>
           <h4 *ngIf="ads?.result.length<=0">No data available</h4>
      </tbody>
    </table>
  </div>
</div>
