.nav-link
{
  cursor:pointer;
}
.main-body h3
{
   text-align: center;
   margin-top: 3vh;
   margin-bottom: 3vh;
}
.cat-data h3
{
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.sub-data h3
{
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.user-data h3
{
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
